# Arquivos e pastas da IDE
*.iml
.idea/
.idea/gradle.xml
.idea/vcs.xml
.DS_Store

# Arquivos de configuração local
local.properties
/local.properties

# Pastas de build e geração automática
.gradle/
build/
app/build/
.externalNativeBuild/
.cxx/

# Capturas de tela, logs, e arquivos temporários
captures/
*.log
/app/schemas/com.aulakotlin.appnotas.data.db.AppDatabase/1.json
